$primary-red: hsl(10, 79%, 65%);
$primary-cyan: hsl(186, 34%, 60%);
$neutral-dark-brown: hsl(25, 47%, 15%);
$neutral-brown: hsl(28, 10%, 53%);
$neutral-cream: hsl(27, 66%, 92%);
$neutral-orange: hsl(33, 100%, 98%);
$base-border-radius: 10px;
